@model IEnumerable<PicsOfUs.Models.Pic>
@{
    ViewBag.Title = "Uploads";
}

<h2>Uploads</h2>

@Html.ActionLink("Add Pic", "New", "Browse", null, new { @class = "btn btn-primary my-3" })

@if (!Model.Any())
{
    <p>You have no uploads yet...</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Caption</th>
                <th scope="col">Upload Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pic in Model)
            {
                <tr>
                    <td>@pic.Caption</td>
                    <td>@pic.UploadDate.ToShortDateString()</td>
                    <td><a href="@Url.Action("Edit", "Browse", new {id = pic.Id})">Edit</a></td>
                    <td><a href="@Url.Action("Delete", "Browse", new {id = pic.Id})">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}