@using PicsOfUs.Models
@model PicsOfUs.Models.Photo
@{
	ViewBag.Title = "Details";
}



<img id="image" src="@Model.Url" alt="unloaded-image" style="
									  border: 1px solid black;
									  display: block;
									  height: 300px;
									  width: 300px;">

<p>URL: @Model.Url</p>

<h4>@Model.Caption</h4>
<p>(Caption)</p>

<h4>Captured:</h4>
<p>@Model.CaptureDateShort</p>

<div class=""></div>
<h4>Members</h4>

<div class="list-group">
    @foreach (var member in @Model.Members)
    {
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <p class="mb-1">@member.Name</p>
            <small class="text-muted">@member.AgeInPhoto(@Model.CaptureDate)</small>
        </a>
    }
</div>