@using PicsOfUs.Models
@model BrowseIndexViewModel
@{
    ViewBag.Title = "Browse";
}

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-primary d-md-none mb-3" type="button" data-toggle="collapse" data-target="#search-form" aria-expanded="false">Filters</button>
        @using (Html.BeginForm("Index", "Browse", FormMethod.Post, new { @class = "max-vh-100 scroll-y-no-bar collapse mb-3", id = "search-form", data_autocollapse = "md" }))
        {
            <h4>Date</h4>
            <div class="input-group input-daterange mb-3" data-provide="datepicker">
                <div class="input-group-prepend">
                    <span class="input-group-text">@Html.DisplayNameFor(m => m.SearchForm.CaptureDateFrom)</span>
                </div>
                @Html.TextBoxFor(m => m.SearchForm.CaptureDateFrom, "{0:MM/dd/yyyy}", new { @class = "form-control" })
            </div>
            <div class="input-group input-daterange mb-3" data-provide="datepicker">
                <div class="input-group-prepend">
                    <span class="input-group-text">@Html.DisplayNameFor(m => m.SearchForm.CaptureDateTo)</span>
                </div>
                @Html.TextBoxFor(m => m.SearchForm.CaptureDateTo, "{0:MM/dd/yyyy}", new { @class = "form-control" })
            </div>

            <h4>People</h4>
            <div class="overflow-auto mb-1 px-3 member-select-overflow border border-light rounded">
                @Html.EditorFor(m => m.SearchForm.PicSubjects)
            </div>

            <div class="form-group">
                @Html.CheckBoxFor(m => m.SearchForm.RequireAll, new { @class = "mr-1" })
                @Html.LabelFor(m => m.SearchForm.RequireAll)
            </div>

            <h4>@Html.DisplayNameFor(m => m.SearchForm.SortBy)</h4>
            <div class="form-group">
                @Html.EnumDropDownListFor(m => m.SearchForm.SortBy, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        }
    </div>
    <div class="col-md-8">
        <div class="vh-100 overflow-auto" id="results-body">
            @if (Model.ResultGroups == null)
            {
                <p>Press <i>Search</i> to begin reminiscing...</p>
            }
            else if (!Model.ResultGroups.Any())
            {
                <p>There are no pics that match those filters...</p>
            }
            else
            {
                var resultId = 0;
                foreach (var group in Model.ResultGroups)
                {
                    <div class="m-2">
                        <span>@group.Key.ToString("d")</span>
                        <div class="d-flex flex-wrap">
                            @foreach (var pic in group)
                            {
                                <div class="result-pic trigger m-1 max-vh-25" data-result-id="@resultId" data-pic-id="@pic.Id">
                                    <img src="@pic.Url" alt="@pic.Caption" class="image-fluid" />
                                </div>
                                resultId++;
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@Html.Partial("_BrowseLightbox")