@model IEnumerable<PicsOfUs.Models.Photo>
@{
    ViewBag.Title = "Index";
}

<h2>Photos</h2>

<button type="button" class="btn btn-outline-primary">@Html.ActionLink("Add Photo", "New")</button>

@if (!Model.Any())
{
    <h4>There are no photos to display...</h4>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Caption</th>
                <th scope="col">Capture Date</th>
                <th scope="col">Member Count</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var photo in @Model)
            {
                <tr>
                    <th scope="row">@Html.ActionLink(@photo.Id.ToString(), "Edit", new { id = photo.Id })</th>
                    <td>@photo.Caption</td>
                    <td>@photo.CaptureDate</td>
                    <td>@photo.Members.Count</td>
                    <td>@Html.ActionLink("Details", "Details", new { id = photo.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}