@model PicsOfUs.Models.MemberDetailsViewModel

@{
    ViewBag.Title = "MemberDetails";
}

<!--
    picture
    name
    birthday
    parents
    siblings
-->

<h2>@Model.Member.Name</h2>

<h4>Birthday</h4>
<p>@Model.Member.Birthday</p>

<h4>Siblings</h4>
    @Html.DisplayFor(m => m.Siblings)

<h4>Parents</h4>
    @Html.DisplayFor(m => m.Parents)

<h4>Children</h4>
    @Html.DisplayFor(m => m.Children)